#main-content {
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
}
#main-content #hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - (1vh - 7px));
  max-height: 100%;
  padding: 0;
  overflow: hidden;
}
#main-content #hero .hero-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: -1;
}
#main-content #hero .darken-hero-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  background-color: rgba(31, 31, 31, 0.6);
  z-index: 1;
}
#main-content #hero .hero-copy {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  z-index: 2;
}
@media screen and (max-width: 500px) {
  #main-content #hero .hero-copy {
    width: 100%;
  }
}
#main-content #hero .hero-copy .eyebrow-text {
  width: 100%;
  color: #cc8f14;
  font-size: calc(1rem - 2px);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  text-align: center;
  margin: 0 0 1rem 0;
  font-weight: 650;
}
#main-content #hero .hero-copy h1#hero-heading {
  width: 100%;
  color: #f8f1f5;
  font-size: clamp(1.5rem, 1vw + 3rem, 5rem);
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "Playfair Display", serif;
}
#main-content #hero .hero-copy h1#hero-heading .highlight-text {
  color: #cc8f14;
}
#main-content #hero .hero-copy p.hero-description {
  width: 100%;
  color: rgba(248, 241, 245, 0.8);
  font-size: 1.2rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2.5rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
}
#main-content #hero .hero-copy .hero-actions {
  width: 100%;
  display: flex;
  justify-content: center;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
#main-content #hero .hero-copy .hero-actions .primary-button,
#main-content #hero .hero-copy .hero-actions .secondary-link {
  width: 10rem;
  height: 48px;
  border-radius: 30px;
  border: none;
  font-weight: 700;
  font-size: calc(1rem - 2px);
  letter-spacing: 1px;
  cursor: pointer;
}
#main-content #hero .hero-copy .hero-actions .primary-button {
  background-color: #cc8f14;
  color: #f8f1f5;
  text-transform: uppercase;
}
#main-content #hero .hero-copy .hero-actions .secondary-link {
  text-align: center;
  align-content: center;
  border: 1px solid rgba(248, 241, 245, 0.8);
  color: #f8f1f5;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
#main-content #hero .hero-copy .hero-actions .secondary-link:hover {
  border: 1px solid #cc8f14;
  color: #cc8f14;
}
@media screen and (max-width: 640px) {
  #main-content #hero .hero-copy .hero-actions {
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
  }
}
#main-content #hero .product-message-container {
  width: 22.25rem;
  height: 3.19375rem;
  display: flex;
  padding: 1rem;
  background-color: #F8F5F1;
  border-radius: 0.6rem;
  font-size: calc(1rem - 3px);
  position: fixed;
  right: 30px;
  bottom: 35px;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  z-index: 12;
}
#main-content #hero .product-message-container span {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: white;
  background-color: black;
  border-radius: 10px;
  text-align: center;
  align-content: center;
}
#main-content #hero .product-message-container p {
  margin: 0;
  align-content: center;
}/*# sourceMappingURL=hero.css.map */